
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom styles here */

.gradient-h1 {
  background: linear-gradient(150deg, #00A12E, #E0FF64); /* HEX colors for the gradient */
  -webkit-background-clip: text;
  color: transparent;
}