
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom styles here */

.gradient-h1 {
  background: linear-gradient(120deg, #00a12e, #e0ff64); /* HEX colors for the gradient */
  -webkit-background-clip: text;
  color: transparent;
}